.hero {
  background-color: #2e5c2e;
  color: white;
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100vw;
  box-sizing: border-box;
}

.hero-content {
  max-width: 600px;
}

.hero h2 {
  font-size: 2rem;
}

.hero p {
  font-size: 1rem;
  margin: 1rem 0;
}

.hero .learn-more {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}